@model string
@{
    ViewData["Title"] = "Message";
}

<div class="layui-fluid">
    <div class="layadmin-tips">
        <i class="layui-icon" face=""></i>

        <div class="layui-text" style="font-size: 20px;">
            @ViewData["msg"]
        </div>

    </div>
</div>

