@model List<Master.Matches.MatchResourceUploadList>
@{
    ViewData["Title"] = "Default";
    var subMajorId = ViewData["subMajorId"].ToString();
    var isSubManager = (bool)ViewData["SubManager"];
}

<table class="layui-table" >
    <colgroup>
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>文件名称</th>
            <th>文件类别</th>
            @if(isSubManager){
                <th>操作</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item,index) in getSubMajorInfo('@subMajorId').files">
            <td ><a style="color:blue;text-decoration:underline" :href="'/File/Download?filename='+item.fileName+'&filepath='+item.filePath" @@click.prevent="showPDF(item.fileName,item.filePath)">{{item.fileName}}</a></td>
            <td>
                {{item.fileType}}
            </td>
            @if (isSubManager)
            {
                <td><a style="color:blue;text-decoration:underline" :href="'/File/Download?filename='+item.fileName+'&filepath='+item.filePath"  target="_blank">下载</a></td>
            }
        </tr>
    </tbody>
</table>

