.layadmin-tabsbody-item.layui-show {
    animation: moveTop 1s;
    -webkit-animation: moveTop 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

/**ÓÒ¼ü²Ëµ¥*/
.rightmenu {
    position: absolute;
    width: 110px;
    z-index: 1000000;
    display: none;
    background-color: #fff;
    padding: 2px;
    color: #333;
    border: 1px solid #eee;
    border-radius: 2px;
    cursor: pointer;
}

    .rightmenu li {
        text-align: center;
        display: block;
        height: 30px;
        line-height: 32px;
    }

        .rightmenu li:hover {
            background-color: #666;
            color: #fff;
        }
.picturesshow
{
    text-align:center;
}