@using Master.Web.Startup
@using Master.Web
@using Master.Configuration;
@using Master.Web.Views.Shared.Components.SideBarNav;
@using Master.Web.Views.Shared.Components.TopBarNav;
@using Master.Authentication;
@inject Master.Timing.AppTimes AppTimes
@model Master.Session.Dto.LoginInformationDto
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["SoftTitle"]</title>
    <meta name="keywords" content="华建集团">
    <meta name="description" content="华建集团">
    <meta name="renderer" content="webkit"><!--360默认急速模式打开-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <link href="~/view-resources/Views/_Bundles/base.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="/assets/layuiadmin/layui/css/layui.css" media="all" asp-append-version="true" />
    <link rel="icon" href="/assets/huajian/images/small_logo.ico" type="image/ico" />
    <link href="~/lib/element/element.min.css" rel="stylesheet" />
    <!---->
    <link rel="stylesheet" href="/assets/huajian/css/layui.css">
    <!---->
    <link rel="stylesheet" href="/assets/huajian/css/font-awesome.css">
    <!---->
    <link rel="stylesheet" href="/assets/huajian/css/main_huajian.css">
</head>
<body class="layui-layout-body" style="overflow:auto">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <vc:top-bar-nav2 login-information-dto="Model"></vc:top-bar-nav2>

            <div class="layui-row layui-hide" style="margin-top:80px;margin-bottom:80px" id="app">
                <div  class="layui-col-md8">
                    <div class="main_pc_nr" style="position:static;margin:0px auto;width:auto;">
                        <div class="main_anniu" style="padding:20px">                            
                            <template >
                                <div v-if="!currentGroup">
                                    <ul>
                                        <a href="#_" v-for="(item,index) in displayGroups" @@click="gotoGroup(item)">
                                            <li>
                                                {{item}}
                                            </li>
                                        </a>
                                        <a href="#_" @@click="gotoGroup('Other')">
                                            <li>
                                                {{getGroupName('Other')}}
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                                <div v-else>
                                    <el-card class="box-card">
                                        <div slot="header" class="clearfix">
                                            <span style="font-size:20px">{{getGroupName(currentGroup)}}</span>
                                            <el-button style="float: right; padding: 3px 0" type="text" @@click="currentGroup='';">返回上一级</el-button>
                                        </div>
                                        <ul>
                                            <a href="#_" v-for="(item,index) in groupInstances" @@click="gotoMatchInstance(item.id)">
                                                <li>
                                                    {{item.matchName}}<br>
                                                    {{item.identifier}}
                                                </li>
                                            </a>
                                        </ul>
                                    </el-card>

                                </div>
                            </template>
                            

                        </div>
                    </div>

                    <div class="main_pc_nr_none" v-if="matchInstances.length==0" style="position:static;margin:50px auto;">
                        <div class="main_anniu_none">
                            <ul>
                                <li><i class="huadongjz fa-exclamation-triangle"></i></li>
                                <li>当前没有可以操作的赛事！</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4" style="padding-right:50px;">
                    <div class="layui-card">
                        @*<div class="layui-card-header">系统公告</div>*@
                        <div class="layui-card-body ">
                            <table autoevent="1" id="Notice" lay-filter="Notice" class="layui-table " lay-data="{cellMinWidth:'80', url:'/api/services/app/Notice/GetPageResult', page:false, id:'Notice', skin: 'line',where:{where:'noticestatus=2'}, even: false,done:config.onTableDone,initSort:{field:'publishtime',type:'desc'}}">
                                <thead>
                                    <tr>
                                        <th lay-data="{align:'center',field:'title',templet:'#noticeTpl'}">@L("系统公告")</th>
                                    </tr>
                                </thead>
                            </table>
                            @if (AbpSession.IsGroupManager())
                            {
                        <div style="margin-top:20px;">
                            <button type="button" class="layui-btn " style="width:100%" onclick="location.href='/Home/Index?view=resultsearch'">查询搜索评选结果</button>
                        </div>
                        <div style="margin-top:20px;">
                            <button type="button" class="layui-btn layui-btn-normal" style="width:100%" onclick="app.gotoGroup('History')">查看历史项目</button>
                        </div>
                                
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
        <footer>
            <p>
                华东建筑集团有限公司 版权所有<br>
                本系统暂不支持IE系列浏览器，推荐使用GOOGLE浏览器及360极速浏览器
            </p>
        </footer>
    </div>
    <script type="text/html" id="noticeTpl">
        <div style="text-align:left">
            <a href="#_" fornonerow="1" buttonname="{{d.title}}" type="button" params="{&quot;area&quot;: [&quot;80%&quot;, &quot;80%&quot;],&quot;btn&quot;:[]}" lay-event="Add" confirmmsg="" buttonactiontype="Form" buttonactionurl="/Notices/View?id={{d.id}}" onclick="func.callModuleButtonEvent()">{{d.title}}({{d.publishTimeShort}})</a>
        </div>

    </script>
    <script src="/assets/layuiadmin/layui/layui.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/_Bundles/base.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/_Bundles/abp.min.js" asp-append-version="true"></script>


    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>


    <script src="~/lib/element/element.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/global.js" asp-append-version="true"></script>
    <script src="~/assets/js/index.js" asp-append-version="true"></script>

    <script>
        layui.config({
            base: config.layuiBase //静态资源所在路径
        }).extend({
            index: config.layuiIndex //主入口模块
        }).use(config.layuiModules, function () {
            initIndex();
            checkToken();
        });

    </script>



    <div class="layui-layer-move"></div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                searchView:false,
                currentGroup: '',
                matchInstances: [],
                displayGroups: []
            },
            computed: {
                groupInstances: function () {
                    var that = this;
                    return this.matchInstances.filter(function (o) { return o.displayGroup == that.currentGroup });
                },                
            },
            methods: {
                getGroupName: function (group) {
                    if (group == 'Other') {
                        return '其它评选';
                    } else if (group == 'History') {
                        return '历史评选';
                    } else {
                        return group;
                    }
                },
                loadMatchInstances: function () {
                    var that = this;
                    func.runAsync(abp.services.app.matchInstance.getAvailableMatchInstance().done(function (data) {
                        app.matchInstances = data;
                        $.each(data, function (i, v) {
                            if (!that.displayGroups.some(function (val) {return  val == v.displayGroup }) && v.displayGroup != 'Other' && v.displayGroup != 'History') {
                                that.displayGroups.push(v.displayGroup);
                            }
                        })
                        $("#app").removeClass("layui-hide");
                    }));
                },
                gotoGroup: function (groupName) {
                    this.currentGroup = groupName;
                    //this.contentView = true;
                },
                gotoMatchInstance: function (matchInstanceId) {
                    func.runAsync(abp.services.app.matchInstance.getIfMatchInstanceAvailable(matchInstanceId).done(function (data) {
                        if (data) {
                            $.cookie("matchInstanceId", matchInstanceId, { expires: 365, path: '/' });
                            location.href = '/Home/MatchInstance';
                        } else {
                            layer.msg("此赛事目前不可用", { icon: 5, anim: 6 });
                        }
                    }));
                }
            },
            mounted: function () {

                this.loadMatchInstances();

            }

        });
    </script>
</body>
</html>

